<nav class="flex flex-col">

    <ul class="list-reset">
        <li>
            <a href="#" class="block p-2 bg-primary tracking-wider text-center text-base text-white">
              Menú
            </a>
        </li>
        <li>
            <a href="#" routerLink="['/departamentos']" routerLinkActive="border-primary" class="block p-4 transition-all ease-in duration-300 text-gray-600 hover:border-primary border-r-4">
              Departamentos
            </a>
        </li>
        <li>
            <a href="#" routerLink="['/departamentos']" routerLinkActive="border-primary" class="block p-4 transition-all ease-in duration-300 text-gray-600 border-gray-200 hover:border-primary border-r-4">
              Categorías
            </a>
        </li>
        <li>
            <a href="#" routerLink="['/departamentos']" routerLinkActive="border-primary" class="block p-4 transition-all ease-in duration-300 text-gray-600 border-gray-200 hover:border-primary border-r-4">
              Productos
            </a>
        </li>
        <li>
            <a href="#" routerLink="['/departamentos']" routerLinkActive="border-primary" class="block p-4 transition-all ease-in duration-300 text-gray-600 border-gray-200 hover:border-primary border-r-4">
              Pedidos
            </a>
        </li>
        <li>
            <a href="#" routerLink="['/departamentos']" routerLinkActive="border-primary" class="block p-4 transition-all ease-in duration-300 text-gray-600 border-gray-200 hover:border-primary border-r-4">
              Usuarios
            </a>
        </li>
    </ul>
</nav>
