<header class="flex items-center justify-between flex-wrap bg-white px-6 py-4">
    <div class="flex items-center w-42">
        <div class="text-black mr-6">
            <span class="font-semibold text-3xl tracking-wider"><span class="text-primary font-bold">O</span>rion</span>
        </div>
        <div class="block">
            <button (click)="changeSideNav(opened)" class="focus:outline-none text-primary px-3 py-2 border border-primary rounded">
              <i class="fas fa-bars"></i>
            </button>
        </div>
    </div>
    <div class="flex flex-grow justify-end w-auto text-gray-600">
        <button mat-button [matMenuTriggerFor]="beforeMenu" class="inline-block focus:outline-none text-sm px-4 py-2 hover:text-primary hover:bg-white mt-4 lg:mt-0">
          {{user.name}}  <i class="fas fa-angle-down"></i>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before" class="mt-2 w-36 bg-white rounded-lg shadow-xl text-gray-600">
            <a href="#" class="block px-4 py-2 hover:bg-primary hover:text-white"><i class="fas fa-user"></i> Perfil</a>
            <hr>
            <a href="#" (click)="logOut()" class="block px-4 py-2 hover:bg-primary hover:text-white"><i class="fas fa-sign-out-alt"></i> Salir</a>
        </mat-menu>
    </div>
</header>